<div style="padding-top: 100px">

	<div style="padding-left: 1130px;z-index: 1000">
		<a ng-click="loginShow()">{{logintext}}</a>
	</div>

	<div style="padding-left: 0px;z-index: 1000 ;position: absolute ;padding-top: -100px">
		<a ng-show="getWelcomeText()" >{{welcometext}}</a>
	</div>

	<div id='cssmenu' style="position: absolute;z-index: 100">
		<ul>
			<li><a href='#Home'><span>Home</span></a></li>
			<li ng-show="getUserRole() == 'normal' || getUserRole() == 'donar' " >
				<a href='#Donate'><span>Donate</span></a></li>
			<li ng-show= "getUserRole() == 'normal'">
				<a href='#Register'><span>Register</span></a></li>
			<li><a href='#Faq'><span>FAQ</span></a></li>
			<li><a href='#AboutUs'><span>About US</span></a></li>
			<li ng-show="getUserRole() == 'admin' "><a href='#Admin'><span>Admin</span></a></li>
			<li><a href='#Contact'><span>Contact</span></a></li>
		</ul>
	</div>

	<div style="height: 1000px;padding-top: 100px ; padding-left: 100px">

		<table style="border-style: solid; border-width: 5px;border-color:#0000ff;">
			<tr>
				<td class ="admintable">
					 Family Name
				</td>

				<td class ="admintable">
					Child Name
				</td>

				<td class ="admintable" > WishList

				</td>

				<td class ="admintable"> Biography

				</td>

				<td class ="admintable">Status

				</td>
				<td class ="admintable">Admin Action

				</td>
			</tr>

			<tr>
				<td class ="admintable">
					{{familyname}}
				</td>

				<td class ="admintable">
					{{children}}
				</td>

				<td class ="admintable"> {{wishlist}}

				</td>

				<td class ="admintable"> {{biography}}

				</td>

				<td class ="admintable">
					{{status}}

				</td>
				<td class ="admintable">
					<a ng-click="approveWishList()" class="btn btn-primary">Approve</a>
					<a ng-click="declineWishList()" class="btn btn-primary">Disapprove</a>

				</td>
			</tr>

		</table>



	</div>
</div>

