<div style="padding-top: 100px">

    <div style="padding-left: 1130px;z-index: 1000">
        <a ng-click="loginShow()">{{logintext}}</a>
    </div>

    <div style="padding-left: 0px;z-index: 1000 ;position: absolute ;padding-top: -100px">
        <a ng-show="getWelcomeText()" >{{welcometext}}</a>
    </div>

    <div id='cssmenu' style="position: absolute;z-index: 100 ; padding-left: 270px">
        <ul>
            <li><a href='#Home'><span>Home</span></a></li>
            <li ng-show="getUserRole() == 'normal' || getUserRole() == 'donar' " >
                <a href='#Donate'><span>Donate</span></a></li>
            <li ng-show= "getUserRole() == 'normal'">
                <a href='#Register'><span>Register</span></a></li>
            <li><a href='#Faq'><span>FAQ</span></a></li>
            <li><a href='#AboutUs'><span>About US</span></a></li>
            <li ng-show="getUserRole() == 'admin' "><a href='#Admin'><span>Admin</span></a></li>
            <li><a href='#Contact'><span>Contact</span></a></li>
            <li ng-show="getUserRole() == 'family' ">
                <a href='#ProfileFamily'><span>Profile</span></a>
            </li>
            <li ng-show="getUserRole() == 'donar' ">
                <a href='#ProfileDonar'><span>Profile</span></a>
            </li>

        </ul>

    </div>

    <div style="height: 1000px">
        <div style="padding-left: 340px;padding-top: 200px">
            <p><b>
                Please  Register as donar or the Family to proceed the Donation process
            </b>
            </p>
        </div>

        <div style="padding-left: 500px;padding-top: 80px">
            <a href="#/register/donar" class="btn btn-primary"> Donor </a>
            <a href="#/register/family" class="btn btn-primary"> Family </a>
        </div>
    </div>
</div>
