<div style="padding-top: 170px">

    <div id='cssmenu' style="position: absolute;z-index: 100">
        <ul>
            <li><a href='#Home'><span>Home</span></a></li>
            <li ng-show="getUserRole() == 'normal' || getUserRole() == 'donar' " >
                <a href='#Donate'><span>Donate</span></a></li>
            <li ng-show= "getUserRole() == 'normal'">
                <a href='#Register'><span>Register</span></a></li>
            <li><a href='#Faq'><span>FAQ</span></a></li>
            <li><a href='#AboutUs'><span>About US</span></a></li>
            <li ng-show="getUserRole() == 'admin' "><a href='#Admin'><span>Admin</span></a></li>
            <li><a href='#Contact'><span>Contact</span></a></li>
        </ul>
    </div>


    <div style="padding-top: 50px;padding-left: 400px"> Family Donation Page </div>

    <div style="width: 70%;height: 90%;padding-left: 30% ; padding-top: 10px">

        <table style="width: 100%;height: 100%;padding-left: 10%;
        border-style: solid; border-width: 5px;border-color:#0000ff;">
            <tr ng-repeat="p in familyWish">
                <td style="border-style: solid; border-width: 5px;border-color:#0000ff;"><div>  {{p.childname}}</div>
                    <div>
                        <div>
                            <img ng-src="images/santa.jpg" style="width: 50px;height: 50px" />
                        </div>
                    </div>
                </td>
                <td>

                    <table>
                        <tr ng-repeat="y in p.wishlist">

                            <td style="border-style: solid; border-width: 5px;border-color:#0000ff;">
                            <div>  {{y}}</div>
                                 <div>

                                    <img ng-src="images/santa.jpg" style="width: 50px;height: 50px" />

                                 </div>
                            </td>
                        </tr>
                    </table>


                </td>
            </tr>
        </table>

    </div>

    <div style="padding-left: 470px;padding-top: 350px;">
        <a ng-click="submitDonate()" class="btn btn-primary">Submit Donate</a>
    </div>

</div>
