<div style="padding-top: 100px" ng-controller="HomeController">
    <div style="padding-left: 1130px;z-index: 1000">
        <a ng-click="loginShow()">{{logintext}}</a>
    </div>

    <div style="padding-left: 0px;z-index: 1000 ;position: absolute ;padding-top: -100px">
        <a ng-show="getWelcomeText()" >{{welcometext}}</a>
    </div>


    <div id='cssmenu' style="position: absolute;z-index: 100">
        <ul>
            <li><a href='#Home'><span>Home</span></a></li>
            <li ng-show="getUserRole() == 'normal' || getUserRole() == 'donar' " >
                <a href='#Donate'><span>Donate</span></a></li>
            <li ng-show= "getUserRole() == 'normal'">
                <a href='#Register'><span>Register</span></a></li>
            <li><a href='#Faq'><span>FAQ</span></a></li>
            <li><a href='#AboutUs'><span>About US</span></a></li>
            <li ng-show="getUserRole() == 'admin' "><a href='#Admin'><span>Admin</span></a></li>
            <li><a href='#Contact'><span>Contact</span></a></li>
        </ul>
    </div>


    <div style="padding-top: 50px;padding-left: 400px"> Family Donation Page </div>

    <div style="width: 70%;height: 90%;padding-left: 30% ; padding-top: 10px">

        <table border="1">
            <tr ng-repeat="p in familyWish">
                <td ><div>  {{p.childname}}</div>
                    <div>
                        <div>
                            <img ng-src="images/{{p.childname}}.jpg" style="width: 50px;height: 50px" />
                        </div>
                    </div>
                </td>
                <td style="padding-left: 70px">
                    <table>
                        <tr ng-repeat="y in p.wishlist">

                            <td>
                            <div>  {{y}}</div>
                                 <div>
                                    <img ng-src="images/{{y}}.jpg" style="width: 50px;height: 50px" />
                                 </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div>
                        <select id="myselection"
                                multiple="true"
                                ng-model="selectedGift"
                                ng-change="getGiftUpdate(selectedGift)"
                                ng-options="o as o for o in p.wishlist" >
                        </select>
                    </div>
                    <div>
                        Selected Colors: {{selectedGift}}
                    </div>
                </td>
            </tr>
        </table>


    </div>

    <div style="padding-left: 470px">
        <a ng-click="submitDonate()" class="btn btn-primary">Submit Donation</a>
    </div>

</div>
