<div style="padding-top: 170px">

    <div id='cssmenu' style="position: absolute;z-index: 100">
        <ul>
            <li><a href='#Home'><span>Home</span></a></li>
            <li ng-show="getUserRole() == 'normal' || getUserRole() == 'donar' " >
                <a href='#Donate'><span>Donate</span></a></li>
            <li ng-show= "getUserRole() == 'normal'">
                <a href='#Register'><span>Register</span></a></li>
            <li><a href='#Faq'><span>FAQ</span></a></li>
            <li><a href='#AboutUs'><span>About US</span></a></li>
            <li ng-show="getUserRole() == 'admin' "><a href='#Admin'><span>Admin</span></a></li>
            <li><a href='#Contact'><span>Contact</span></a></li>
        </ul>
    </div>

    <div  style="padding-left: 130px;padding-top: 80px">
        <table>
            <tr>
                <td>
                    <div id="donateForm" style="float: left">
                        <div>
                            <label for="name">Name</label><br/>
                            <input id="name" ng-model="myForm.name" />
                        </div>

                        <div >
                            <label for="address">Address</label> <br/>
                            <input id="address" ng-model="myForm.address" />
                        </div>

                        <div>
                            <label for="city">City</label> <br/>
                            <input id="city" ng-model="myForm.city" />
                        </div>


                        <div>
                            <label for="zipcode">Zip Code</label> <br/>
                            <input id="zipcode" ng-model="myForm.zipcode" />
                        </div>

                        <div>
                            <label for="phoneno">Phone No</label> <br/>
                            <input id="phoneno" ng-model="myForm.phoneno" />
                        </div>

                        <div>
                            <label for="email">Email Address </label> <br/>
                            <input id="email" ng-model="myForm.email"/>
                        </div>

                        <div>
                            <label for="username"> UserName</label> <br/>
                            <input id="username" ng-model="myForm.username" />
                        </div>

                        <div>
                            <label for="password"> Password </label> <br/>
                            <input id="password" type="password" ng-model="myForm.password" >
                        </div>


                        <div>
                            <label for="childern"> Children</label> <br/>
                            <select name="childern" id="childern" ng-model="data.singleSelect">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="10more">10+</option>
                            </select>
                        </div>

                        <div>
                            <label for="biography"> Biography </label> <br/>
                            <textarea id="biography" ng-model="message" cols="40" rows="10"></textarea>
                        </div>
                    </div>


                    <div id="wishlist" style="float: right">


                        <table>
                            <tr>
                                <td>Child

                                </td>
                                <td>
                                    wishList
                                </td>
                            </tr>
                            <tr>
                                <td>
                                   <!-- Name <input id="childname" ng-model="child.name" /><br/>
                                    <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>

-->
                                    <div>
                                        <label for="childname">Child Name</label><br/>
                                        <input id="childname" ng-model="myForm.childname" />
                                        <input type="file" id="file" file-model="myForm.family.child" />
                                        <img ng-src="images/{{myForm.family.child.name}}" width="60" height="70" /><br />
                                    </div>

                                </td>
                                <td>


                                    <div>
                                        <label for="wishlist1">First WishList</label><br/>
                                        <input id="wishlist1" ng-model="myForm.wishlist1" />
                                        <input type="file" id="wishlist1file" file-model="myForm.family.wishlist1" />
                                        <img ng-src="images/{{myForm.family.wishlist1.name}}" width="30" height="35" /><br />
                                    </div>


                                    <div>
                                        <label for="wishlist2">Second WishList</label><br/>
                                        <input id="wishlist2" ng-model="myForm.wishlist2" />
                                        <input type="file" id="wishlist2file" file-model="myForm.family.wishlist2" />
                                        <img ng-src="images/{{myForm.family.wishlist2.name}}" width="30" height="35" /><br />
                                    </div>


                                    <div>
                                        <label for="wishlist3">Third WishList</label><br/>
                                        <input id="wishlist3" ng-model="myForm.wishlist3" />
                                        <input type="file" id="wishlist3file" file-model="myForm.family.wishlist3" />
                                        <img ng-src="images/{{myForm.family.wishlist3.name}}" width="30" height="35" /><br />
                                    </div>

                                </td>
                            </tr>



                        </table>



                    </div>


                </td>
            </tr>
        </table>
    </div>

    <div style="padding-left: 550px;padding-top: 20px">
        <a href="#/register/family/conformation"
           class="btn btn-primary">Submit</a>
    </div>



    <div style="height: 400px;padding-top: 50px ; padding-left: 400px">

        <div style="padding-left: 100px;padding-bottom: 30px">
             Inventory
        </div>
        <div style="padding-bottom: 20px">
            <input id="searchitem" ng-model="searchitem" />
            <input type="button" value="search" />

        </div>
        <table style="border-style: solid; border-width: 5px;border-color:#0000ff;">

            <tr>
                <td class ="admintable">
                   Item Image
                </td>

                <td class ="admintable">
                   Item Name
                </td>

                <td class ="admintable" > Quantity

                </td>


            </tr>

            <tr>
                <td class ="admintable">

                </td>

                <td class ="admintable">
                   car
                </td>

                <td class ="admintable"> 20

                </td>


            </tr>

        </table>



    </div>

</div>
