<div style="padding-top: 100px">

    <div style="padding-left: 1130px;z-index: 1000">
        <a ng-click="loginShow()">{{logintext}}</a>
    </div>

    <div style="padding-left: 0px;z-index: 1000 ;position: absolute ;padding-top: -100px">
        <a ng-show="getWelcomeText()" >{{welcometext}}</a>
    </div>

    <div id='cssmenu' style="position: absolute;z-index: 100 ; padding-left: 270px">
        <ul>
            <li><a href='#Home'><span>Home</span></a></li>
            <li ng-show="getUserRole() == 'normal' || getUserRole() == 'donar' " >
                <a href='#Donate'><span>Donate</span></a></li>
            <li ng-show= "getUserRole() == 'normal'">
                <a href='#Register'><span>Register</span></a></li>
            <li><a href='#Faq'><span>FAQ</span></a></li>
            <li><a href='#AboutUs'><span>About US</span></a></li>
            <li ng-show="getUserRole() == 'admin' "><a href='#Admin'><span>Admin</span></a></li>
            <li><a href='#Contact'><span>Contact</span></a></li>
            <li ng-show="getUserRole() == 'family' || getUserRole() == 'donar' ">
                <a href='#Profile'><span>Profile</span></a>
            </li>

        </ul>

    </div>



    <div style="height: 1000px">
        <div style="padding-top: 200px;padding-left: 350px">
            <b style="padding-left: 100px">Thank you for registering with us.  </b> <br/>
            <b> An admin will respond to your registration within 24-48 hours for your approval </b>
            <br/>
            <b style="padding-left: 100px">or denial of an account for receiving donations </b>
        </div>
    </div>
</div>
